<section id="contacts_section">

    <div id="search_contacts_div">
        <input id="search_contacts" name="search_contacts" placeholder="Rechercher">
    </div>

    <div class="big_clearfix"></div>

    <div class="left_side">
        <div class="left_side_title">Ajouter</div>

        <div class="huge_clearfix"></div>

        <div id="add_one">
            Personne:<div class="big_clearfix"></div>
            <input type="text" id="add_one_first" name="add_one_first" placeholder="Prenom"><div class="big_clearfix"></div>
            <input type="text" id="add_one_last" name="add_one_last" placeholder="Nom"><div class="big_clearfix"></div>
            <input type="text" id="add_one_phone" name="add_one_phone" placeholder="Numero de Tel"><div class="big_clearfix"></div>
            <button id="add_one_button">Ajouter</button>
        </div>

        <div class="big_clearfix"></div><hr><div class="big_clearfix"></div>

        <div id="add_group">
            Groupe:<div class="big_clearfix"></div>
            <input type="text" id="add_group_name" name="add_group_name" placeholder="Nom du Groupe"><div class="big_clearfix"></div>
            Selectionner Contactes: <input type="text" id="select_contacts" name="selects_contacts" placeholder="Rechercher Contacts"><div class="big_clearfix"></div>
            <div id="selects_contacts_div">
            </div><div class="big_clearfix"></div>
            <button id="add_group_button">Ajouter</button>
        </div>
    </div>

    <div class="right_side">
        <div class="right_side_title">Naviguer</div>

        <div class="huge_clearfix"></div>

        <div id="scroll_one">
            Personnes:<div class="big_clearfix"></div>
            <div class="scrollview">

            </div>
        </div>

        <div class="big_clearfix"></div><hr><div class="big_clearfix"></div>

        <div id="scroll_group">
            Groupes:<div class="big_clearfix"></div>
            <div class="scrollview">

            </div>
        </div>

    </div>

</section>