<section id="credits_section">

    <h1>Paiement par Carte Bancaire</h1>

    <div class="big_clearfix"></div>

    <hr>

    <div class="big_clearfix"></div>

    <div id="choose_amount_wrapper">
        <p>Selectionnez la quantite que vous voulez acheter. Si vous souhaitez acheter une quantite differente, veuillez nous contacter.</p>
        <div id="choose_amount_div">
            <table id="choose_amout_table">
                <thead id="choose_amount_head">
                    <tr>
                        <th>Credits</th>
                        <th>Prix Unitaire</th>
                        <th>Prix Total</th>
                    </tr>
                </thead>
                <tbody id="choose_amount_body">
                    <tr>
                        <td>
                            <input type="radio" value="" name="number_of_credits"> Combien
                        </td>
                        <td>{Prix Unitaire}</td>
                        <td>{Prix Total}</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" value="" name="number_of_credits"> Combien
                        </td>
                        <td>{Prix Unitaire}</td>
                        <td>{Prix Total}</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" value="" name="number_of_credits"> Combien
                        </td>
                        <td>{Prix Unitaire}</td>
                        <td>{Prix Total}</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" value="" name="number_of_credits"> Combien
                        </td>
                        <td>{Prix Unitaire}</td>
                        <td>{Prix Total}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="huge_clearfix"></div>

    <div id="card_details">
        <div id="card_details_top">Details de la Carte</div>
    </div>

    <div class="clearfix"></div>

    Coupon Code: <input type="text" id="buy_credits_coupon" name="buy_credits_coupon">

    <div class="big_clearfix"></div>

    <button id="buy_credits_button" name="buy_credits_button"> Acheter</button>
</section>