<section id="dashboard_section">
    <h1>Credits Disponibles: __</h1>

    <div class="big_clearfix"></div>

    <hr style="border: 1px solid #034D5E;">

    <div class="huge_clearfix"></div>

    <a class="big_button hvr-sweep-to-right" href="#/send">
        <span>Envoyer SMS</span>
    </a>
    <a class="big_button hvr-sweep-to-right" href="#/sent">
        <span>SMS Envoyes</span>
    </a>

    <div class="huge_clearfix"></div>

    <a class="big_button hvr-sweep-to-right" href="#/contacts">
        <span>Contacts</span>
    </a>
    <a class="big_button hvr-sweep-to-right" href="#/credits">
        <span>Credits</span>
    </a>
    <a class="big_button hvr-sweep-to-right" href="#/settings">
        <span>Parametres</span>
    </a>
</section>
