<section id="send_section">
    <div class="left_side">
        <div id="add_receivers_div">
            Destinataires: <input type="text" id="receivers_field" name="receivers_field" placeholder="Ajouter Destinataires">

            <div class="clearfix"></div>

            <button id="add_receivers_button">Ajouter</button>
        </div>

        <div class="big_clearfix"></div>

        <div id="message_window">
            <br>
            <p id="receivers_label">{Destinataires}</p>
            <br>

            <div class="clearfix"></div>

            <textarea id="message_box" rows="15" placeholder="Votre Message Ici"></textarea>

            <div class="clearfix"></div>

            <button id="send_message">Envoyer</button>
            <button id="cancel_message">Annuler</button>

            <div class="clearfix"></div>

        </div>
    </div>
        <div class="right_side">
            <div class="right_side_title">Parametres</div>

        <div class="huge_clearfix"></div>

        <hr>

        <div class="huge_clearfix"></div>

        Repliable? <input type="checkbox" id="repliable" name="repliable">

        <div class="huge_clearfix"></div>

        Forwardable? <input type="checkbox" id="forwardable" name="forwardable">

        <div class="huge_clearfix"></div>

        Coupon Code: <input type="text" id="coupon_code" name="coupon_code" placeholder="Coupon Code">
    </div>
</section>