<section id="sent_section">
    <div id="search_sent_div">
        <input id="search_sent" name="search_sent" placeholder="Rechercher">
    </div>

    <div class="big_clearfix"></div>

    <div id="sort_by_div">
        Trier Par:<br>
        <div id="sort_by_date">
            <span class="sort_by">Date - </span>
            Recents <input type="radio" id="date_newest" value="newest" name="date">
            Anciens <input type="radio" id="date_oldest" value="oldest" name="date">
        </div>
        <div id="sort_by_status">
            <span class="sort_by">Statut - </span>
            Envoyes <input type="radio" id="status_success" value="success" name="status">
            Non envoyes <input type="radio" id="status_error" value="error" name="status">
        </div>
        <div id="sort_by_number">
            <span class="sort_by">Numero - </span>
            Croissant <input type="radio" id="number_first" value="first" name="number">
            Decroissant <input type="radio" id="number_last" value="last" name="number">
        </div>
    </div>

    <div class="big_clearfix"></div>

    <div id="sent_table_div">
        <table id="sent_table">
            <thead id="sent_table_head">
                <tr>
                    <th>#</th>
                    <th>Destinataire</th>
                    <th>Date</th>
                    <th>Message</th>
                    <th>Statut</th>
                    <th>Telecharger</th>
                </tr>
            </thead>
            <tbody id="sent_table_body">
                <tr>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>
                        <button>
                            <img src="img/download_icon.png" alt="Telecharger" width="16px" height="16px">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>
                        <button>
                            <img src="img/download_icon.png" alt="Telecharger" width="16px" height="16px">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>
                        <button>
                            <img src="img/download_icon.png" alt="Telecharger" width="16px" height=16px">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>Stuff</td>
                    <td>
                        <button>
                            <img src="img/download_icon.png" alt="Telecharger" width="16px" height="16px">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="huge_clearfix"></div><hr style="margin:auto"><div class="huge_clearfix"></div>

    <div id="diagram">
        {Diagram}
    </div>
</section>