<section id="settings_section">
    <div class="left_side">
        <div class="left_side_title">Changer Mot de Passe</div>

        <div class="big_clearfix"></div>

        <div id="change_pass">
            <input type="password" id="current_pass" name="current_pass" placeholder="Mot de Passe Actuel"><div class="big_clearfix"></div>
            <input type="password" id="new_pass" name="new_pass" placeholder="Nouveau Mot de Passe"><div class="big_clearfix"></div>
            <input type="password" id="confirm_new_pass" name="confirm_new_pass" placeholder="Confirmer Nouveau Mot de Passe">
        </div>

        <div class="big_clearfix"></div>

        <div class="left_side_title">Securite</div>

        <div class="big_clearfix"></div>

        <div id="change_question">
            Question:
            <select id="security_questions">
                <option>Choisissez une question ...</option>
                <option></option>
                <option></option>
            </select><div class="big_clearfix"></div>
            Reponse: <input type="text" id="security_answer" name="security_answer"><div class="big_clearfix"></div>
        </div>

        <div class="big_clearfix"></div>

        <div class="left_side_title">Email</div>

        <div class="big_clearfix"></div>

        <div id="change_email">
            <input type="email" id="main_email" name="main_email" placeholder="Email Principale"><div class="big_clearfix"></div>
            <input type="email" id="secondary_email" name="secondary_email" placeholder="Email Secondaire"><div class="big_clearfix"></div>
            <input type="email" id="phone_number" name="phone_number" placeholder="Numero de Tel">
        </div>
    </div>
    <div class="right_side">
        <div class="right_side_title">Envoyer SMS a Partir d'Un:</div>

        <div class="huge_clearfix"></div>

        <hr>

        <div class="huge_clearfix"></div>

        <div id="sms_from_phone">
            <div class="left_side_title">Numero de Telephone</div>

            <div class="big_clearfix"></div>

            <input type="text" id="number_shown" name="number_shown" placeholder="Numero"><div class="big_clearfix"></div>
        </div>

        <div class="huge_clearfix"></div>

        <div id="sms_from_email">
            <div class="left_side_title">Compte Email</div>

            <div class="big_clearfix"></div>

            <input type="email" id="shown_email" name="shown_email" placeholder="Email"><div class="big_clearfix"></div>
            <input type="email" id="reply_to" name="reply_to" placeholder="Repondre a"><div class="big_clearfix"></div>
            <input type="email" id="forward_to" name="forward_to" placeholder="Transmettre a"><div class="big_clearfix"></div>
        </div>
    </div>

    <div class="huge_clearfix"></div>

    <div id="save_changes">
        <button>Sauvegarder</button>
    </div>
</section>